{% extends 'examen_app/base.html' %}

{% block head %}
    <title>Wish App</title>
{% endblock %}

{% block header%}
    <h1 class="d-flex justify-content-center page-title">Hello Michelle! Make a wish</h1>
{% endblock %}

{% block content %} 

        <div class="tableFixHead table-wrapper">

                <div class="title-form" style="background:linear-gradient(#21f3c287, #21aef34f, #00bcd400);">Register  -  Login</div>

                {% if messages %}
                    <div class="valid-messages">
                        <ul class="messages" id="messages">
                            {% for message in messages %}
                            <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                <div class="container-form">
                    <form class="formRegister" action="{% url 'update_wish' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{id_wish}}" name="id_wish">
                        <div class="django-form-wrapper">
                            {{ wish_form.as_p }}
                            <br>
                            <div style="display: grid;">
                                <button name="bnt_action" type="submit" value="cancel">Cancel</button>
                                <button name="bnt_action" type="submit" value="edit">Edit</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                
        </div>

{% endblock %}

    