{% extends 'pizza_app/base.html' %}

{% block head %}
    {% load static %}
    <script></script>
    <link rel="stylesheet" href="">
    <title>Pizza Time</title>
{% endblock %}

{% block header%}
    <h1 class="d-flex justify-content-center page-title">Pizza Time</h1>
{% endblock %}

{% block content %}
    {% load tz %}
    {% timezone "America/Santiago" %}
    {% load static %}

    {% if messages %}
        <br>
        <div class="valid-messages">
            <ul class="messages" id="messages">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="tableFixHead table-wrapper">
        <div class="container-wrapper">
            {% if 'logged_user' in request.session %}
            <div style="display: grid; grid-template-columns: 50% 50%;">
                <h1 class="page-title" style="font-size: 16px;">Arma tu Propia Pizza!</h1>
                <a href="{% url 'create_pizza' %}" class="parpadea"><img src="{% static 'pizza_app/img/pizza-icon.png' %}" alt="imagen pizza napolitana" style="width: 10%;"></a>
            </div>
            {% endif %}
            {% if request.session.logged_perfil == 'Cliente' %}
                <hr>
                <h3>Tus Pizzas Creadas</h3>
                <hr>
                <div style="display: grid; grid-template-columns: 40% 40%; gap: 4%; justify-content: space-evenly;">

                    {% for my_pizza in my_pizzas %}
                    <div style="display: grid; justify-items: center; grid-template-columns: 90%; gap: 2%;">
                        <p>{{ my_pizza.name }} - ${{ my_pizza.price }}</p>
                        <div style="display: flex;">
                            <img src="{% static 'pizza_app/img/'|add:my_pizza.image %}" alt="imagen de pizza {{my_pizza.image}}" style="width: 50%;">
                            <ul>
                                {% for ingredient in my_pizza.all_ingredients.all %}
                                    <li style="font-size: 14px;">{{ ingredient.option }} <span style="font-size: 10px;">(${{ ingredient.price }})</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div style="display: flex; justify-self: normal;">
                            <input class="button" type="button" value="Agregar" onclick="location.href='add_pizza/{{my_pizza.id}}';" style="margin-top: 2%; width: 30%; margin-right: 3%;"/>
                            <input class="button" type="button" value="Eliminar" onclick="location.href='delete_pizza/{{my_pizza.id}}';" style="margin-top: 2%; width: 30%;"/>
                        </div>
                    </div>
                    {% empty %}
					    <p>No tiene pizzas personalizadas <a href="{% url 'create_pizza' %}">arme su propia pizza</a></p>
                    {% endfor %}
                </div>
            {% endif %}
            <hr>
            <h3>Pizzas</h3>
            <hr>
            <div style="display: grid; grid-template-columns: 40% 40%; gap: 4%; justify-content: space-evenly;">

                {% for pizza in pizzas %}
                <div style="display: grid; justify-items: center; grid-template-columns: 90%; gap: 2%;">
                    <p>{{ pizza.name }} - ${{ pizza.price }}</p>
                    <div style="display: flex;">
                        <img src="{% static 'pizza_app/img/'|add:pizza.image %}" alt="imagen de pizza {{pizza.image}}" style="width: 90%;">
                        <ul>
                            {% for ingredient in pizza.all_ingredients.all %}
                                <li style="font-size: 14px;">{{ ingredient.option }} <span style="font-size: 10px;">(${{ ingredient.price }})</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <input class="button" type="button" value="Agregar" onclick="location.href='add_pizza/{{pizza.id}}';" style="margin-top: 2%;"/>
                </div>
                {% endfor %}
            </div>
            <hr>
            <h3>Extras</h3>
            <hr>
            <div style="display: grid; grid-template-columns: 40% 40%; gap: 4%; justify-content: space-evenly;">
                {% for extra in extras %}
                <div style="display: grid; justify-items: center; grid-template-columns: 90%; gap: 2%;">
                    <p>{{ extra.name }} - ${{ extra.price }}</p>
                    <div style="display: flex;">
                        <img src="{% static 'pizza_app/img/'|add:extra.image %}" alt="imagen de {{extra.image}}" style="width: 90%;">
                    </div>
                    <input class="button" type="button" value="Agregar" onclick="location.href='add_extra/{{extra.id}}';" style="margin-top: 2%;"/>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    {% endtimezone %}
{% endblock %}
