{% extends 'pizza_app/base.html' %}

{% block head %}
    <title>Wish App</title>
{% endblock %}

{% block header%}
    <h1 class="d-flex justify-content-center page-title">Pizza Time</h1>
{% endblock %}

{% block content %} 

        <div class="tableFixHead table-wrapper" style="margin-top: 1%;">

                {% if messages %}
                    <div class="valid-messages">
                        <ul class="messages" id="messages">
                            {% for message in messages %}
                            <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                {% load static %}
                <img src="{% static 'pizza_app/img/pizza_header.jpg' %}" alt="imagen de deliciosa pizza" style="width: -webkit-fill-available;height: 250px;">

                <div class="container-form" >
                    <form class="formRegister" action="{% url 'login_pizza_app' %}" method="POST" style="margin-top: 5%;">
                        {% csrf_token %}
                        <div class="django-form-wrapper">
                            {{ user_login_form.as_p }}
                            <br>
                            <p>¿Aún no tienes cuenta? <a href="{% url 'register_pizza_app' %}">Registrate</a></p>
                            <p><button type="submit">Ingresar</button></p>
                        </div>
                    </form>
                </div>
                
        </div>

{% endblock %}

    