{% extends 'examen_app/base.html' %}

{% block head %}
    {% load static %}
    <script></script>
    <link rel="stylesheet" href="">
    <title>Examen</title>
{% endblock %}

{% block header%}
    <h1 class="d-flex justify-content-center page-title">Examen</h1>
{% endblock %}

{% block content %}
    {% load tz %}
    {% timezone "America/Santiago" %}

    {% if messages %}
        <br>
        <div class="valid-messages">
            <ul class="messages" id="messages">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        
        <div class="tableFixHead table-wrapper" style="display: grid; grid-template-columns: 100%;">
            <div class="tableFixHead table-wrapper">
                <a href="{% url 'view_stats' %}" style="font-size: 18px;">View stats</a> |
                <a href="{% url 'add_wish' %}" style="font-size: 18px;">Make a wish</a>
                <p>Your Wish List:</p>
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Date added</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wish in my_wishes %}
                        <tr>
                        <td>{{wish.wish}}</td>
                        <td>{{wish.created_at}}</td>
                        <td>
                            {% if request.session.logged_user %}
                                <a href="{% url 'remove_wish' id_wish=wish.id %}">Remove</a>
                                <a href="{% url 'edit_wish' id_wish=wish.id %}"> | Edit | </a>
                                <a href="{% url 'grand_wish' id_wish=wish.id %}">Granted!</a>
                            {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                </table>
                <p>Your Wish List:</p>
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Wishes</th>
                        <th scope="col">Date added</th>
                        <th scope="col">Date Granted</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wish in granted_wishes %}
                        <tr>
                        <td>{{wish.wish}}</td>
                        <td>{{wish.user.first_name}} {{user.last_name}}</td>
                        <td>{{wish.created_at}}</td>
                        <td>{{wish.granted_at}}</td>
                        <td>{{wish.total_likes}}</td>
                        <td>
                            {% if user not in wish.all_users_like.all %}
                                <a href="{% url 'add_like' id_wish=wish.id %}"> Like </a>
                            {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>

    {% endtimezone %}
{% endblock %}
